
/* Para evitar colisão */
@charset ("utf-8");


/* Estrutura do site
------------------------------------------------------------- */

/* Zerando as configurações de margin e padding */
* {
	margin: 0;
	padding: 0;
}
/* Corpo total da pagina */
body {
	font: 12px "Lucida Grande", "Lucida Sans Unicode", Arial, sans-serif;
	width: 960px;
	margin: 0 auto;
	box-shadow: ;
}

/* Cabeçalho da pagina */
header {
	/*border: 2px solid blue;*/
}

/* Logo do site */
header img {
	/*margin-left: 350px;*/
	margin: 1% 40%;
}

/* Formatação dos links em geral do site */
a:link, a:active, a:visited {
	color: #2E2EFE;
	text-decoration: none;
}
a:hover {
	color: #585858;
	text-decoration: none;
}

/* Menu de navegação */
#nav {
	padding: 20px;
}
/* Elementos UL */
#nav ul {
	margin-top: -20px;
	text-align: center;
	display: block;	
	border-bottom: solid 1px;
}
/* Linhas do menu de navegação */
#nav ul li {
	display:inline-block;
	padding: 14px 30px;
	margin: 2px;
}
#nav ul li a:link, a:active, a:visited {
	color: #1C1C1C;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 14px;
}
#nav ul li a:hover {
	text-decoration: underline;
}

/*Lista dos icones redes sociais*/
#sociais ul {
	display: inline-block;
	margin: 0% 43%;
}
#sociais ul li {
	display: inline-block;
}
#sociais ul li a img{
	display: inline-block;
	padding: 4px 2px;
	margin: 2px;
}

/*Imagem de capa, podendo ser um carrossel*/
#capa img {
	margin: 10px 60px;
	width: 800px;
	height: 300px;	
}